NA	1	25	26	unknwn	@GMA My daughter @jordynking17 will be 14 on December 17th! We r going to see Buddy @ The Kirby Center in WB on December 14th. So excited!
NA	2	13	13	unknwn	@moanajkidd The massacre on March 11 in Karm al-Zaitoun was similar: 25 children killed with knives\u002c 20 women: https://t.co/hxc5Kexv
NA	3	7	7	unknwn	@BarackObama\u002c Clinton\u002c Panetta\u002c Petraeus we will not #StandDown on Nov 6 or Nov 7 or Nov 8th. Do the right thing now. #WeWillNotLetThisGo
